<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Default handler for text-fetching operations -->
    <bean name="textFetcherHandler" class="varviewer.server.textFetch.FileTextFetcher">
	</bean>
	
    <!--  Variant annotation and reading configuration -->
	<bean name="sampleSource" class="varviewer.server.DirSampleSource">
	    <property name="rootDir" value="/home/brendan/jobwrangler_samples" />
	</bean>
	
	<!--  Variant annotations come from the annotated_vars file, not from a db.  -->
	<bean name="variantRequestHandler" class="varviewer.server.variant.PreAnnotatedVarReqHandler">
		<property name="variantSource" ref="sampleSource"/>
	</bean>
	
	
	<!--  GeneDetails configuration -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/annotations" />
        <property name="username" value="arup" />
        <property name="password" value="arup" />
    </bean>
		
	<bean name="geneDetailHandler" class="varviewer.server.genedb.DBNSFPGeneDB">
	    <property name="sourceFile" value="geneInfo.csv" />
	</bean>
	
</beans>
