/** Add css rules here for your application. */


.topbar { 
	outline: 0px;
	margin: 0px;
	margin-top: -10px;
	margin-left: -10px;
	margin-bottom: 10px;
	padding: 0px;
	padding-left: 40px;
	padding-top: 10px;
	height: 40px;
	width: 110%;
	-moz-box-shadow: 0px 0x 10px #202020;
	-webkit-box-shadow: 0px 0px 10px #202020;
	box-shadow: 0px 0px 10px #202020;
	border-bottom: 1px solid gray;
	background : "images/topbarBkgd.png" repeat-x;
	background : -webkit-linear-gradient(bottom, rgb(162, 162, 162) 10%, rgb(232, 232, 232) 77%); 
	background : -moz-linear-gradient(bottom, rgb(162, 162, 162) 10%, rgb(232, 232, 232) 77%);
	background : -o-linear-gradient(bottom, rgb(162, 162, 162) 10%, rgb(232, 232, 232) 77%);
	background : -ms-linear-gradient(bottom, rgb(162, 162, 162) 10%, rgb(232, 232, 232) 77%); 
	background : -linear-gradient(bottom, rgb(162, 162, 162) 10%, rgb(232, 232, 232) 77%);
}

.topbarlabel {
	font-family: 'Open Sans', sans-serif;
	font-size: 16pt;
	font-style: italic;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(250, 250, 250, 0.5);
}

.statuslabel {
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	text-right: center;
	margin-top: 5px;
	margin-right: 10px;
}

.maincontainer {
	margin: 0px;
}

.footer {
	font-family: 'Open Sans', sans-serif;
	height: 50px;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 25px;
	border-top: 1px solid rgb(200, 200, 200);
	font-size: 12px;
	text-align: center;	
}

.loginpanel {
	margin-left: 70px;
	margin-top: 70px;
	width: 560px;
	background-image : url('images/loginPanel.png');
	background-repeat: no-repeat;	
}

.loginbutton {
	font-family: 'Open Sans', sans-serif;
	font-size: 13pt;
	margin-left: 30px;
}

.usernamefield {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	position: relative;
	background-color: transparent;
	border: 0px;
	top: 152px;
	left: 88px;
	height: 30px;
	width: 300px;
}

.passwordfield {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	position: relative;
	background-color: transparent;
	top: 55px;
	border: 0px;
	left: 88px;
	height: 30px;
	width: 300px;
}

.filterspanel {
	border: 0px;
	margin: 0px;
	width: 240px;
	min-height: 500px;
	
}

.filterbox {
	font-family: 'Open Sans', sans-serif;
	outline: 0px;
	margin: 2px;
	width: 235px;
	height: 90px;
	background-image:url('images/filterboxImage.png'); 
	background-repeat: no-repeat;
}

.filterboxheader {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-shadow: 1px 1px 1px rgba(250, 250, 250, 70); 
	margin-top: 5px;
	margin-left: 10px;
}

.filterbox-interior {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	margin-left:10px;
}

.filterconfig {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	margin: 10px;
	padding: 10px;
	padding-bottom: 4px;
	width: 250px;
	background: rgb(255, 255, 255);
	border: 1px solid gray;
	border-radius: 2px;
	-moz-box-shadow: 2px 2x 5px rgb(180, 180, 180);
	-webkit-box-shadow: 2px 2px 5px rgb(180, 180, 180);
	box-shadow: 2px 2px 5px rgb(180, 180, 180);	
}

.configtextbox {
	width: 40px;
	height: 20px;
	margin-left: 5px;
	font-size: 11px;
	border: 1px solid lightgrey;
	border-radius: 2px;
	padding-left: 3px;
}

.topborder {
	border-top: 1px solid lightgrey;
	padding-top: 2px;	
}

.vartableheader {
	font-family: 'Open Sans', sans-serif;
	height: 30px;
	width: 100%;
}

.interiortext {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	padding-top: 3px;
	text-align: right;
}

.textlabel{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-shadow: 1px 1px 1px rgba(250, 250, 250, 70); 
}

.textlabel-disabled {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-color: gray;
}

.textlabel12{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
}

.textlabel14{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 14px;
}

.colmenu {
	margin: 0px;
	padding: 0px;
	width: 24px;
	height: 24px;
}

.highlightbutton {
	cursor: pointer;
	margin: 1px;
	padding: 0px;
	background: transparent;
	border: 0px;
}


.highlightbutton-hover {
	cursor: pointer;
	margin: 0px;
	padding: 0px;
	background: rgb(220, 220, 220);
	border: 1px solid rgb(170, 170, 170);
	border-radius: 3px;
}

.smallbutton {
	margin: 1px;
	padding: 0px;
	width: 16px;
	height: 16px;
	background: transparent;
	border: 0px;
}

.smallbutton-hover {
	margin: 0px;
	padding: 0px;
	width: 16px;
	height: 16px;
	background: rgb(220, 220, 220);
	border: 1px solid rgb(170, 170, 170);
	border-radius: 3px;
}

.samplelabel {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
}

.vartable {
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	margin-left: 5px;
	margin-bottom: 2px;
	padding-bottom: 0px;
	width: 100%;
}

.cellTableHeader {
	color: red;
	font-size: 20px;
}

.variantdisplay {
	width: 100%;
	min-height: 800px;
}

.detailspanelheader {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	padding: 5px;
	height: 20px;
	font-size: 14pt;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(250, 250, 250, 70);  
}

.detailstext {
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	text-align: left;
	margin-left: 20px;
}

.detailspanel {
	font-family: 'Open Sans', sans-serif;
	margin-left: 5px;
	margin-top: 2px;
	padding: 5px;
	border: 1pt solid gray;
	font-size: 11px;
	width: 98%;
	border-top: 1px solid gray;
  	border-left: 1px solid gray;
  	border-right: 1px solid gray;
  	border-bottom: 1px solid gray;
  	border-top-left-radius: 8px;
  	border-top-right-radius: 8px;
  	border-bottom-left-radius: 3px;
  	border-bottom-right-radius: 3px;
  	
	background : -webkit-radial-gradient(bottom right,ellipse cover, rgb(250, 250, 250) 61%, rgb(179, 179, 179) 97%);
	background : -moz-linear-gradient(bottom right,ellipse cover, rgb(250, 250, 250) 61%, rgb(179, 179, 179) 97%);
	background : -o-linear-gradient(bottom right,ellipse cover, rgb(250, 250, 250) 61%, rgb(179, 179, 179) 97%);
	background : -ms-linear-gradient(bottom right,ellipse cover, rgb(250, 250, 250) 61%, rgb(179, 179, 179) 97%); 
	background : -linear-gradient(bottom right,ellipse cover, rgb(250, 250, 250) 51%, rgb(179, 179, 179) 96%);
	
	-moz-box-shadow: 3px 3x 7px rgb(180, 180, 180);
	-webkit-box-shadow: 3px 3px 7px rgb(180, 180, 180);
	box-shadow: 3px 3px 7px rgb(180, 180, 180);
}

.colpopup {
	width: 150px;
}

.samplesview {
	margin-left: 50px;
}


.samplebrowser {
	height: 400px;
	width: 500px;
}

.sampledetailsheader {
	margin: 0px;
	height: 25px;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 20px;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 1px 1px rgba(205, 205, 205, 100); 
	border-bottom: 1px solid gray;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background : rgb(200, 200, 200);
	background : -webkit-linear-gradient(top, rgb(255, 255, 255) 08%, rgb(150, 150, 150) 99%);
	background : -moz-linear-gradient(top, rgb(255, 255, 255) 08%, rgb(150, 150, 150) 99%);
	background : -o-linear-gradient(top, rgb(255, 255, 255) 08%, rgb(150, 150, 150) 99%);
	background : -ms-linear-gradient(top, rgb(255, 255, 255) 08%, rgb(150, 150, 150) 99%); 
	background : -linear-gradient(top, rgb(255, 255, 255) 08%, rgb(150, 150, 150) 99%);
}

.sampledetailspanel {
	font-family: 'Open Sans', sans-serif;
	outline: 0px;
	border: 1px solid rgb(160, 160, 160);
	border-radius: 10px;
	-moz-box-shadow: 5px 5x 12px rgb(180, 180, 180);
	-webkit-box-shadow: 5px 5px 12px rgb(180, 180, 180);
	box-shadow: 5px 5px 12px rgb(180, 180, 180);
	margin-left: 30px;
	margin-top: 20px;
	width: 400px;
	height: 400px;
	background : rgb(255, 255, 255);
}


.sampletabletext {
	padding-top: 4px;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;	
	font-weight: bold;
}

.sampletabletextA {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;	
}

.buttongrid {
	width: 400px;
	margin: 20px;
}

.bigbutton {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;	
	border: 1px solid rgb(129, 179, 229);
	border-radius: 5px;
	width: 100px;
	height: 100px;
	margin: 5px;
	padding: 5px;
	text-align: center;
	background : -webkit-linear-gradient(top, rgb(255, 255, 255) 08%, rgb(88, 162, 219) 99%);
	background : -moz-linear-gradient(top, rgb(255, 255, 255) 08%, rgb(88, 162, 219) 99%);
	background : -o-linear-gradient(top, rgb(255, 255, 255) 08%, rgb(88, 162, 219) 99%);
	background : -ms-linear-gradient(top, rgb(255, 255, 255) 08%, rgb(88, 162, 219) 99%); 
	background : -linear-gradient(top, rgb(255, 255, 255) 08%, rgb(88, 162, 219) 99%);
}

.bigbutton-hover {
	border: 3px solid rgb(129, 179, 229);
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;	
	border-radius: 5px;
	width: 100px;
	height: 100px;
	margin: 3px;
	padding: 5px;
	text-align: center;
	background : -webkit-linear-gradient(top, rgb(255, 255, 255) 08%, rgb(88, 162, 219) 99%);
	background : -moz-linear-gradient(top, rgb(255, 255, 255) 08%, rgb(88, 162, 219) 99%);
	background : -o-linear-gradient(top, rgb(255, 255, 255) 08%, rgb(88, 162, 219) 99%);
	background : -ms-linear-gradient(top, rgb(255, 255, 255) 08%, rgb(88, 162, 219) 99%); 
	background : -linear-gradient(top, rgb(255, 255, 255) 08%, rgb(88, 162, 219) 99%);
	cursor: pointer;
}

.sampletableitem {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	vertical-align: top;	
}

.alignA {
	font-size: 14px;
	text-align: right;
	width: 100px;
}

.alignB {
	margin-left: 10px;
	font-size: 14px;
}

.searchbox {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	border: 1px solid rgb(200, 200, 200);
	border-radius: 2px;
	height: 20px;
	width: 105px;
	margin-left: 5px;
}

.textboxexample {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	text-color: gray;
	font-style: italic;
	border: 1px solid gray;
	border-radius: 3px;
}

.textbox {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	text-color: black;
	border: 1px solid gray;
	border-radius: 3px;
}

.alignpanel {
	margin-left: 20px;
	margin-top: 4px;
}


.pedpopuptitle {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 6px;
	border-bottom: 1px solid gray;
}

.pedsamplechooser {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	margin: 4px;
	border: 1px solid gray;
	border-radius: 3px;
	height: 240px;
	width: 340px;
}

.pedsamplechoosertitle {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	text-align: center;
	vertical-align: center;
	text-shadow: 1px 1px rgba(175, 175, 175, 50); 
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	padding: 5px;
	width: 100%;
	background : -webkit-linear-gradient(top, rgb(255, 255, 255) 08%, rgb(170, 170, 170) 99%);
	background : -moz-linear-gradient(top, rgb(255, 255, 255) 08%, rgb(170, 170, 170) 99%);
	background : -o-linear-gradient(top, rgb(255, 255, 255) 08%, rgb(170, 170, 170) 99%);
	background : -ms-linear-gradient(top, rgb(255, 255, 255) 08%, rgb(170, 170, 170) 99%); 
	background : -linear-gradient(top, rgb(255, 255, 255) 08%, rgb(170, 170, 170) 99%);
}

.genericpopup {
	border: 1px solid gray;
	background: white;
	border-radius: 3px;
	padding: 2px;
	-moz-box-shadow: 5px 5x 12px rgb(180, 180, 180);
	-webkit-box-shadow: 5px 5px 12px rgb(180, 180, 180);
	box-shadow: 5px 5px 12px rgb(180, 180, 180);	
}
