<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
    
  <!-- Servlets -->
   <servlet>
    <servlet-name>listServices</servlet-name>
    <servlet-class>varviewer.server.services.ListServicesServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>listServices</servlet-name>
    <url-pattern>/varviewer/listservices</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>accountDetails</servlet-name>
    <servlet-class>varviewer.server.auth.AccountDetailsServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>accountDetails</servlet-name>
    <url-pattern>/varviewer/accountdetails</url-pattern>
  </servlet-mapping>
  
 <servlet>
    <servlet-name>textFetchServlet</servlet-name>
    <servlet-class>varviewer.server.textFetch.TextFetchServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>textFetchServlet</servlet-name>
    <url-pattern>/varviewer/textfetch</url-pattern>
  </servlet-mapping>
  

 <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>varviewer.server.auth.LogoutServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/varviewer/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>authServlet</servlet-name>
    <servlet-class>varviewer.server.auth.AuthServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>authServlet</servlet-name>
    <url-pattern>/varviewer/authenticate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>varRequestServlet</servlet-name>
    <servlet-class>varviewer.server.VarRequestServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>varRequestServlet</servlet-name>
    <url-pattern>/varviewer/varrequest</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>geneDetailsServlet</servlet-name>
    <servlet-class>varviewer.server.geneDetails.GeneDetailServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>geneDetailsServlet</servlet-name>
    <url-pattern>/varviewer/genedetails</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>exportServlet</servlet-name>
    <servlet-class>varviewer.server.ExportServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>exportServlet</servlet-name>
    <url-pattern>/varviewer/export</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>sampleListServlet</servlet-name>
    <servlet-class>varviewer.server.sampleSource.SampleListServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sampleListServlet</servlet-name>
    <url-pattern>/varviewer/samplelist</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>cisTransServlet</servlet-name>
    <servlet-class>varviewer.server.bcrabl.CisTransServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cisTransServlet</servlet-name>
    <url-pattern>/varviewer/cistrans</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>VarViewer.html</welcome-file>
  </welcome-file-list>

</web-app>
