/* Fancy modification for VarTable styles */

.cellTableHeader {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	border: 0px;
	padding: 2px;
	margin: 0px;
	height: 12px;
	text-align: bottom;
	vertical-align: bottom;
}

.cellTableCell {
	font-family: 'Open Sans', sans-serif;
	outline: 0px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	overflow: hidden;
	font-size: 11px;
	background: transparent;
}

.cellTableEvenRow {
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
	margin: 0px;
}

.cellTableOddRow {
	font-family: 'Open Sans', sans-serif;
	padding: 0px;
	margin: 0px;
}

.cellTableSelectedRow {
	font-family: 'Open Sans', sans-serif;
	background: #909090;
	font-weight: bold;
}


.cellTableSelectedRowCell {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.cellTableHoveredRow {
	background: #909090;
}

.cellTableKeyboardSelectedRow {
	background: #00CCFF;
	font-weight: bold;
}